
nav{
text-align: center;
ul{
    display: flex;
    font-size: 13px;

    li{
        list-style: none;
        padding: 1em;
        li:active{
            color: aqua;
        }
        a{
            .fa-solid{
                font-size: 20px;
            }
            text-decoration: none;
font-size: 12px;
color: #404040;

            display: grid;
            grid-template-columns: repeat(1fr, 1);
            grid-template-rows: auto;  
        }
.footer_box{

}
    }
}
}

    